/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    font-family: 'Poppins', sans-serif;
    color: #444;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%;
    transition: transform 0.5s ease;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}

.image-box {
    width: 30%;
    transition: transform 0.5s ease;
}

.image-box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.image-box img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.download-button {
    display: inline-block;
    margin-top: 10px;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
    background: #2980b9;
    transform: scale(1.05);
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    background: linear-gradient(135deg, #e67e22, #d35400);
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background: linear-gradient(135deg, #d35400, #e67e22);
    transform: scale(1.05);
}

/* Estilos para el contenedor de cafecito */
.cafecito-container {
    margin-top: 0px;
}

.cafecito-container p {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #2c3e50;
}

.cafecito-container a img {
    width: 200px;
}

@media (max-width: 1024px) {
    body {
        height: 40vh;
        width: 30%;
    }
    .container {
        position: absolute;
        left: 50px;
    }
    h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 0 auto;
        width: 70%;
    }
    .image-box {
        width: 40%;
    }
}
